<div class="d-flex flex-column">
    <div class="p-2">
        <div class="container-fluid">
            <div class="imageContainer">
                <figure><img id="imgs_1" src="media/anna-pritchard-xGnnOE8p29g-unsplash.jpg" alt="Photo of family against snowy background by Anna Pritchard on Unsplash"/></figure>
                <figure><img id="imgs_2" src="media/eliott-reyna-jCEpN62oWL4-unsplash.jpg" alt="Photo of teenagers walking down street by Eliott Reyna on Unsplash"/></figure>
                <figure><img id="imgs_3" src="media/cristina-gottardi-q3FihXQ-13M-unsplash.jpg" alt="Photo of two older people in street by Cristina Gottardi on Unsplash"/></figure>
                <figure><img id="imgs_4" src="media/louis-hansel-shotsoflouis-OAnydGhhcxE-unsplash.jpg" alt="Photo of 4 teenagers on beach by Louis Hansel on Upsplash"/></figure>
                <figure><img id="imgs_5" src="media/matthew-bennett-78hTqvjYMS4-unsplash.jpg" alt="Photo of older couple by Matthew Bennet on Upsplash"/></figure>
                <figure><img id="imgs_6" src="media/pablo-merchan-montes-wYOPqmtDD0w-unsplash.jpg" alt="Photo of family enjoying pizza meal by Pablo Mercha-Montes on Upsplash"/></figure>
                <figure><img id="imgs_4" src="media/ben-duchac-96DW4Pow3qI-unsplash.jpg" alt="Photo of teenagers on grass near city by Ben Duchac on Upsplash"/></figure>
                <figure><img id="imgs_5" src="media/duy-pham-Cecb0_8Hx-o-unsplash.jpg" alt="Photo of friends looking at cable car by Duy Pham on Upsplash"/></figure>
                <figure><img id="imgs_6" src="media/tyler-nix-Pw5uvsFcGF4-unsplash.jpg" alt="Photo of fingers in love by Tyler Nix on Upsplash"/></figure>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="strapline">
            <h2> Join us now and connect with the friends and family you love safely</h2>
            <h2> Share the good times!</h2>
        </div>
    </div>
</div>
