<div class="d-flex flex-column">
    <div class="p-2">
        <div class="container-fluid">
            <div class="imageContainer">
                <figure><img id="imgs_1" src="media/tyler-nix-Pw5uvsFcGF4-unsplash.jpg" alt="Photo of family against snowy background by Anna Pritchard on Unsplash"/></figure>
                <figure><img id="imgs_2" src="media/nathan-anderson-FHiJWoBodrs-unsplash.jpg" alt="Photo of teenagers walking down street by Eliott Reyna on Unsplash"/></figure>
                <figure><img id="imgs_3" src="media/vidar-nordli-mathisen-AvnXCFX25GA-unsplash.jpg" alt="Photo of two older people in street by Cristina Gottardi on Unsplash"/></figure>
                <figure><img id="imgs_4" src="media/matheus-ferrero-TkrRvwxjb_8-unsplash.jpg" alt="Photo of 4 teenagers on beach by Louis Hansel on Upsplash"/></figure>
                <figure><img id="imgs_5" src="media/duy-pham-Cecb0_8Hx-o-unsplash.jpg" alt="Photo of older couple by Matthew Bennet on Upsplash"/></figure>
                <figure><img id="imgs_6" src="media/matheus-ferrero-LIaLQ2SIQuk-unsplash.jpg" alt="Photo of family enjoying pizza meal by Pablo Mercha-Montes on Upsplash"/></figure>
                <figure><img id="imgs_4" src="media/matheus-ferrero-TkrRvwxjb_8-unsplash.jpg" alt="Photo of 4 teenagers on beach by Louis Hansel on Upsplash"/></figure>
                <figure><img id="imgs_5" src="media/duy-pham-Cecb0_8Hx-o-unsplash.jpg" alt="Photo of older couple by Matthew Bennet on Upsplash"/></figure>
                <figure><img id="imgs_6" src="media/matheus-ferrero-LIaLQ2SIQuk-unsplash.jpg" alt="Photo of family enjoying pizza meal by Pablo Mercha-Montes on Upsplash"/></figure>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="strapline">
            <h2> Join us now and connect with the friends and family you love safely</h2>
            <h2> Share the good times!</h2>
        </div>
    </div>
</div>
